.follow {
    width: 20px;
    height: 20px;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: rgba(236, 232, 7, 0.804);
    transition: 0.2s ease-out;
    display: none;
    z-index: 1;
  }

  @media (max-width:1024px) {
    .follow{
      display: none;
    }
  }